$black: #000;
$greyLight: #f1f2f4;
$grey: #999;
$white: #fff;
//
//$aqua-border: 2px solid $aqua;
//$aqua-border-thin: 1px solid $aqua;
//$grey-border: 2px solid $grey;
//$grey-border-thin: 1px solid $greyLight;
//$greyDarker-border-thin: 1px solid #ededed;
