@font-face {
    font-family: FuturaPTLight;
    src: url('../../fonts/FuturaPTLight.otf');
  }

@font-face {
    font-family: FuturaPTBold;
    src: url('../../fonts/FuturaPTBold.otf');
  }

@font-face {
    font-family: FuturaPT;
    src: url('../../fonts/FuturaPTBook.otf');
  }

@font-face {
    font-family: FuturaPTDemi;
    src: url('../../fonts/FuturaPTDemi.otf');
  }
