.intro {
  background: url(/img/city.png) repeat-x center bottom transparent;
}

.intro__inner {
  @include on-center(1020px, 0 auto);
}

.intro__about-project {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 120px;
}

.intro__aside {
  width: 200px;
  margin-right: 55px;
}

.intro__aside-title,
.intro__aside-text {
  @include font(16px, 1.125);
  font-family: FuturaPT, "Arial", sans-serif;
}

.intro__aside-text {
  color: $grey;
}

.intro__text-block {
  @include font(20px,1.25);
  flex-basis: 640px;
  p {
    margin-bottom: 26px;
  }
}

.intro__achievements-list {
  @include on-center(1020px, 0 auto);
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 980px;
  height: 530px;
  background: url(/img/screen-bg.png) center center no-repeat #fff;
}

.intro__achievment {
  text-align: center;
  width: 220px;
  min-height: 120px;
  position: absolute;
  &--pgu {
    left: 80px;
    top: 90px;
  }
  &--media {
    right: 80px;
    top: 90px;
  }
  &--kpi {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 620px;
    min-height: 260px;
  }
}

.intro__achievment-score {
  @include font(48px,1.25);
  font-family: FuturaPTBold, "Arial", sans-serif;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  &--kpi {
    @include font(127px,1.25);
  }
}

.intro__achievment-text {
  @include font(24px,1.25);
  font-family: FuturaPTLight, "Arial", sans-serif;
  &--kpi {
    @include font(64px,1);
  }
}
