.page-footer {
  background: $black;
  color: $white;
  padding: 40px 0;
}

.page-footer__inner {
  @include on-center(1020px, 0 auto);
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__menu-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 37px;
}

.page-footer__header {
  @include font(14px,1);
//  font-family: FuturaPTLight, "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.page-footer__list {
  a {
    @include font(14px,1);
    font-family: FuturaPTLight, "Arial", sans-serif;
    color: $grey;
  }
}
